<%= form_for @blog, url: user_blog_path(@user,@blog) do |form| %>

  <div class="field mb-3">
    <%= form.label :title, class: 'form-label'%>
    <%= form.text_field :title, class: 'form-control' %>
  </div>

  <div class="field mb-3">
    <%= form.label :content, class: 'form-label' %>
    <%= form.text_area :content, class: 'form-control' %>
  </div>



  <div class="actions">
    <%= form.submit "Save", class: "btn btn-success my-2"%>
  </div>
<% end %>
